.container{
  display:flex;
  padding:0px
}
@media (min-width: 576px) {
  .container {
    min-width: 1300px
  }
}
.sidebar{
  height: 700px
}
.form{
  margin:20px 40px
}
.post{
  display: flex;
  flex-wrap: wrap;
  margin:20px 50px
  
}
.foot{
  margin: 20px 300px;
  position: relative;
    top: 454px;
}
.but{
  position: relative;
    left: 200px;
   
  
}
.bt{
  position: relative;
  left: 9px;
  bottom: -24px;
  z-index: 5;
  color: brown;
}
.ip{
  margin-top: 20px;
    padding: 22px;
    width: 355px;
    border: 2px solid black;
    font-size: 30px;
    color: rgb(140, 0, 255);
    background: yellow;
    border-radius: 30px;
}
.box{
  margin-top: 100px;
}
.bt{
  position: relative;
    left: -13px;
    color: white;
}
.bat{
  position: relative;
  top: 24px;
  left: -6px;
}
.bb{
  position: relative;
  top: 26px;
  left: -106px;
}
.b{
  position: relative;
    left: -270px;
    top: 26px;
}
.cd{
  width: 18rem;
    margin: 15px;
    height: 50px
}